REACT_APP_GOOGLE_MAPS_API_KEY=
REACT_APP_PUSHER_API_KEY=
REACT_APP_PUSHER_CLUSTER=

# dev build process copies new template view files with script paths injected to the following path/filename
BACKEND_HTML_PATH=../backend/delivery/resources/views
BACKEND_HTML_FILENAME=welcome.blade.php

#production build outputs the build files to the backend public path
BACKEND_PUBLIC_PATH=../backend/delivery/public

# set your production domain address with public build folder https://domain.com/build for webpack build files
PUBLIC_URL= https://domain.com/build