REACT_APP_GOOGLE_MAPS_API_KEY=
REACT_APP_PUSHER_API_KEY=
REACT_APP_PUSHER_CLUSTER=

# development specific env variables for Laravel / webpack / create-react-app integration
# when BACKEND_HTML_FILENAME && BACKEND_HTML_PATH are present the build process builds an html file for the laravel view with the proper script files injected
# WDS_SOCKET_HOST && WDS_SOCKET_PORT are set so the scripts are pointed to the webpack dev websocket server during development for hot reloads
WDS_SOCKET_HOST=localhost
WDS_SOCKET_PORT=3000
PUBLIC_URL=http://localhost:3000/
BACKEND_HTML_PATH=../backend/delivery/resources/views
BACKEND_HTML_FILENAME=welcome.blade.php